@model _05_ASP.NET_core_Layouts_CSS_e_Bootstrap.Models.Conteudo

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Pagina)</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <p>created by @Html.DisplayFor(model => model.Autor) - @Html.DisplayFor(model => model.Data)</p>

    <hr />
    <div>
        @Html.Raw(Model.Texto)
    </div>
</div>

